# tabular date: tuzlishi jadval kurinishida bulgan malumotlar tabular date deb ataladi
# tabular model : bu jadvalning bir ustuni boshqa ustinidagi malumotlarga tayanib uqitilgani

# datamiz odamlarni kategoriyalariga qarab yillik ish haqlarni aniqlab beradi

In [1]:
import torch

import fastai

# versiyalarini tekshirish
print(torch.__version__)
print(fastai.__version__)

2.3.0+cu121
2.7.15

https://archive.ics.uci.edu/dataset/2/adult dataset link

In [2]:
from fastai.tabular.all import *

path = untar_data(URLs.ADULT_SAMPLE)

path.ls()

(#3) [Path('/root/.fastai/data/adult_sample/models'),Path('/root/.fastai/data/adult_sample/export.pkl'),Path('/root/.fastai/data/adult_sample/adult.csv')]

# cat_names = categorikal ustunlarni korsatamiz
# cont_names = raqamli tabellarimiz
# biz datani tozalashni dataloadersni ichida yozib ketsak ham buladi
Categorify = bu <50, >50 shunaqalarni uzi tugirlab beradi
FillMissing = NUN qiymatlarni uzi tozalaydi
Normalize = raqamlarni 0 va 1 oraligida siqib beradi
# skipinitialspace bizda malumotimiz hato ishladi chunki datada space bor ekan ushani yoqoqtish uchun skipinitialspace shu funksiyani defold true biz shuni false qilishmiz kerak

In [11]:
dls = TabularDataLoaders.from_csv(path/'adult.csv', path=path, bs=64, y_names='salary',skipinitialspace=False,
                                  cat_names=['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex'],
                                  cont_names=['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week'],
                                  procs = [Categorify, FillMissing, Normalize])

# oqitish

# bizda tabular datega aniq model yoq shu uchun one cykle modeli bizga datamizga mos neyron tarmoq qurib beradi

In [12]:
learn = tabular_learner(dls, metrics=accuracy)
learn.fit_one_cycle(4)

In [13]:
import pandas as pd

df = pd.read_csv(path/'adult.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

# test

# 50 mingga teng yoki katta busa (>=50) 1
# 50mingdan pas bulsa(<50) 0

 # biror bir ustunni junatib qaysi ustunga tegishli ekanligini tekshrib koramiz

In [14]:
row, pred, probs = learn.predict(df.iloc[0])

In [15]:
pred.item(), probs

(1, tensor([0.1977, 0.8023]))

In [16]:
row.show()

# bu yerda biz uqitishda categoriyani ugirishda xatolikka yul quyganmiz

In [10]:
df['workclass'][2]

' Private'

# bizda hato probelni inobatga omaganimiz

# endi modelimiz aniq ishlayapti